<template>
  <div class="info-page">
    <p id="title">
      What is Nux laboratory?
    </p>
    <p id="potato-fax">
      Potatos are cool
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({})
</script>>

<style>
.info-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
  size: 200px;
  padding: auto;
}

#potato-fax {
  border: 1px solid beige;
  background-color: antiquewhite;
  padding: inherit;
}
</style>
