<template>
  <div class="home-page">
    <p id="title">
      Vue.js Laboratory
    </p>
    <p id="Info">
      Informations
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({})
</script>

<style>
.lab-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  size: 320px;
  color: rgb(98, 187, 105);
  padding: inherit;
}

.navbar {
  font-family: 'Times New Roman', Times, serif;
  size: 1cm;
  color: rgb(74, 241, 96);
}
</style>
